<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="container">

<header class="">
      <nav class="navbar has-background-primary">
            <a class="link navbar-item navbar-item my-1  button is-primary is-medium" href="/">Home</a>
              <a class="link navbar-item navbar-item my-1  button is-primary is-medium" href="/dashboard">Dashboard</a>
              {{#if loggedIn}}
              <a class="link navbar-item navbar-item my-1  button is-primary is-medium" href="/" id="logout">Logout</a>
              {{else}}
               <a class="link navbar-item navbar-item my-1  button is-primary is-medium" href="/login">Login</a>
              {{/if}}
      </nav>
      
</header>

<main>
  <h1 class="title content has-text-centered mt-3"><a  href="/">Your Tech Blog</a></h1>
  {{{ body }}}
</main>

<footer class="footer">
    <p>Prepared by Najiba Haidari @ DU BOOTCAMP OF 2023</p>
</footer>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>