<h2 class="title">Your Posts</h2>

<button type="submit" class="btn new-post-button button is-primary "><a class="link" href="/dashboard/new">Add New Post here!</a></button>
<section>
    {{!-- if there are any posts available it will loop through each post and render
    them using dashboard-info partial template. if there is no posts available it will skip over the loop entirely--}}
{{#if posts.length}}


    {{#each posts as |post|}}
    {{!-- passes each post object to a partial of dashboard-info --}}
      {{> dashboard-info post}}
    {{/each}}


{{/if}}
</section>

<script src="/js/add-post.js"></script>