
  <form id="login-form" class="card section form mb-5">
    <h2 class="content card-header-title is-centered is-large ">Log In Form</h2>
    <div class="form-row">
      <label class="label" for="username-login">Username</label>
      <input  id="username-login" type="text" autofocus="true" class="input control" placeholder="Your Username"/>
    </div>
    <div class="form-row mb-3">
      <label class="label" for="password-login">Password</label>
      <input id="password-login" type="password" autofocus="true" class="input control" placeholder="Your Password"/>
    </div>
      <button type="submit" class="btn button is-link">Login</button>
      <a class="btn login-link  button is-grey" href="/signup">Sign Up</a>
  </form>
    
<script src="/js/login.js"></script>