
{{!-- signup handlebars --}}
  <form id="signup-form" class="card section form mb-5">
    <h2 class="content card-header-title is-centered is-large ">Sign Up here!</h2>
    <div class="form-row">
      <label for="username-signup" class="label">Username</label>
      <input id="username-signup" type="text" class="input control" />
    </div>
    <div class="form-row">
      <label class="label" for="email-signup">Email</label>
      <input  id="email-signup" type="email" class="input control" />
    </div>
    <div class="form-row">
      <label class="label" for="password-signup">Password</label>
      <input  id="password-signup" type="password" class="input control" />
    </div>
    <button type="submit" class="btn button is-link">Sign Up</button>
    <a class="btn login-link  button is-grey" href="/login">Log In</a>
  </form>

<script src="/js/signup.js"></script>