{{!-- single-post handlebars --}}
<section class="single-post-container">
    {{!-- Uses a partial to display all the information of a single post --}}
{{> post-info post}}
{{!-- Checks if the user is logged in or not using an if-block helper --}}
{{#if loggedIn}}
<div class="comment-container">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">
    <div class="form-row">
        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input  form-control" />
    </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}
{{!-- Uses another partial to display all the comments related to that post. --}}
{{> comments post.comments}}

</section>
{{!-- if loggedIn the the it is connected to comment.js --}}
{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}